# Lab 2

## Exercise 1:

Ask the user to enter two numbers, then create a list, put the numbers in the list, and then print it out.

3
4
The user entered:  ['3', '4']

## Exercise 2:

The list `k` is defined as: `k=['4','5','6']`. Write code the adds up the number values of the elments of `k`, and prints it out.

Sum = 15

# Exercise 3:

Create an empty list, `nums`, then use list functions to:
- add numbers 2 and 1 to the list
- add the elements of the list `[10,4,7]` to the end of `nums`
- sort the list
- print the output

In [ ]:
nums=[]
nums=nums+[2]
nums=nums+[1]
nums=nums+[10,4,7]
# nums.append([10,4,7])
a=sorted(nums)
# nums.sort()
print(nums)
print(a)

[2, 1, 10, 4, 7]
[1, 2, 4, 7, 10]

# Exercise 4:

A list of lists can represent a table. For example, the list below

```
a = [[3,8],[2,8],[1,9]]
```

can be seen as a table with 3 rows, 2 columns. So each element in `a` is a row, and each element in `a[0]` is in a column.

White a list that stores the data in the following table, then print it out.

| col 1| col 2 | col 3|
| --- | --- | --- |
3|5|7
2|1|0
10|3|1
4|23|1

[[3, 5, 7], [2, 1, 0], [10, 3, 1], [4, 23, 1]]

# Exercise 5:

Let the user enter 4 strings. Then add them to a list. Sort them, and print them out.

ghj
fs
g
arg
['arg', 'fs', 'g', 'ghj']

# Exercise 6:

Let the user enter a string, then print out the number of occurrence of vowels.

In [ ]:
s=input()

print('add string:')
a=input()
countA = a.count('a')
countE = a.count('e')
countI = a.count('i')
countO = a.count('o')
countU = a.count('u')
print("number of a's: ",countA)
print("number of e's: ",countE)
print("number of i's: ",countI)
print("number of o's: ",countO)
print("number of u's: ",countU)

counter=0
for i in s:
  if i in "aeiou":
    counter+=1
print(counter)

jhdfhjdsf84hf3jajfd;'z;ncjkdlhfghsakhjkldsadsda
add string:
jhdfhjdsf84hf3jajfd;'z;ncjkdlhfghsakhjkldsadsda
number of a's:  4
number of e's:  0
number of i's:  0
number of o's:  0
number of u's:  0
4

# Exercise 7:

Create a dictionary to represent the following key-value pairs. There are the prices of second hand cars in a dealership.

| Car| Price|
| --- | --- | 
Camry | 20000
Mercedes C| 30000
Holden Astra| 10000
Mazda 6 | 15000

In [ ]:
a = {'Camry':20000,'Mercedes C':30000,'Holden Astra':10000,'Mazda 6':15000}
print(a['Camry'])

20000